In [5]:
import sanskrit_tools as st

In [9]:
st.decline("datṛ", "neut")

   case singular       dual     plural
0  Nom.     datṛ     datṛṇī     datṛṇī
1  Voc.     datṛ     datṛṇī     datṛṇī
2  Acc.     datṛ     datṛṇī     datṛṇī
3  Ins.   datṛṇā  datṛbhyām   datṛbhis
4  Dat.   datṛṇe  datṛbhyām  datṛbhyas
5  Abl.  datṛṇas  datṛbhyām  datṛbhyas
6  Gen.  datṛṇas   datṛṇnos    datṛṇām
7  Loc.   datṛṇi   datṛṇnos     datṛṣu

In [10]:
st.conjugate("nṛt", "IV")

       Singular       Dual    Plural
First   nṛtyami   nṛtyavaḥ  nṛtyamaḥ
Second  nṛtyasi  nṛtyathaḥ  nṛtyatha
Third   nṛtyati   nṛtyataḥ  nṛtyanti