In [43]:
import pandas as pd

In [45]:
my_verb = "icchati"

In [46]:
my_verb_class = 6

In [99]:
outs = [[3, 6, 3], [3, 6, 3], [3, 6, 3]]
columns = ['Singular','Dual','Plural']
index = ['First','Second','Third']

In [100]:
pd.DataFrame(outs, index=index, columns=columns)

        Singular  Dual  Plural
First          3     6       3
Second         3     6       3
Third          3     6       3

In [325]:
def conjugate(verb, verb_class):
    vowels = ["a", "ī"]
    guna = ["a", "e"]
    if verb_class == 1 or verb_class == "I":
        first = ["āmi", "āvaḥ", "āmaḥ"]
        second = ["asi", "athaḥ", "atha"]
        third = ["ati", "ataḥ", "anti"]
        splitted = list(verb)
        vowels = ["a", "ī", "ā", "i", "u", "ū", "ṛ", "ṝ"]
        guna = ["a", "e", "a", "e", "o", "o", "r", "r"]
        for i in range(0, len(splitted)):
            if splitted[i] in vowels:
                splitted[i] = guna[vowels.index(splitted[i])]
        print(splitted)
        if splitted[len(splitted)-1:][0] == "e":
            splitted[len(splitted)-1:] = "ay"
        elif splitted[len(splitted)-1:][0] == "o":
            splitted[len(splitted)-1:] = "av"
        elif splitted[len(splitted)-1:][0] == "ai":
            splitted[len(splitted)-1:] = "āy"
        together = ''.join(str(x) for x in splitted)
        for i in range(0, len(first)):
            first[i] = together + first[i]
            second[i] = together + second[i]
            third[i] = together + third[i]
        return(pd.DataFrame([first, second, third], index=index, columns=columns))
            
    if verb_class == 6 or verb_class == "VI":
        first = ["āmi", "āvaḥ", "āmaḥ"]
        second = ["āsi", "āthaḥ", "ātha"]
        third = ["āti", "ātaḥ", "ānti"]
        chopped = verb[:len(verb)-3]
        for i in range(0, len(first)):
            first[i] = chopped + first[i]
            second[i] = chopped + second[i]
            third[i] = chopped + third[i]
        return(pd.DataFrame([first, second, third], index=index, columns=columns))

In [326]:
conjugate("ji", "I")

['j', 'i']

       Singular     Dual  Plural
First     jiāmi   jiāvaḥ  jiāmaḥ
Second    jiasi  jiathaḥ  jiatha
Third     jiati   jiataḥ  jianti

In [216]:
def conjugate(verb, verb_class):
    splitted = list(verb)
    vowels = ["a", "ī"]
    guna = ["a", "e"]
    for i in range(0, len(splitted)):
        if splitted[i] in vowels:
            splitted[i] = guna[vowels.index(splitted[i])]
            ''.join(str(x) for x in splitted)
    return(splitted)

In [236]:
conjugate("nī", "I")

'ne'

In [238]:
jim = [2, 3, 6, 7]

In [239]:
jim

[2, 3, 6, 7]

In [240]:
jim[len(jim)-1:]

[7]